<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtlztFwjjklhmAOy59TgBcUbDdL6FDlbw</string>
	<key>GCM_SENDER_ID</key>
	<string>426430338114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beyondbeginner.manual</string>
	<key>PROJECT_ID</key>
	<string>beyond-beginner-manual</string>
	<key>STORAGE_BUCKET</key>
	<string>beyond-beginner-manual.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426430338114:ios:57054960a441f0b04009db</string>
</dict>
</plist>